<%-include('header.ejs')%>
<div class="container">
    <div class="row m-5 p-4 align-items-center justify-content-center">
      <div class="col-md-6 rounded shadow bg-light p-4 text-center">
        <h4>Add Slider Image </h4>
        <form action="/admin/add-slider" method="post" enctype="multipart/form-data">
        <input type="file" name="image" required accept="image/*" class="form-control mt-3">
        <div class="w-100 text-center mt-5">
            <button type="submit" class="btn btn-primary">Add</button>
        </form> 
        </div>

      </div>
    </div>

    <div class="row m-5 p-4 rounded shadow bg-light">
        <div class="col-md-12 text-center">
            <h2>List of Slider</h2>
        </div>
        <div class="col-md-12">
            <table class="table table-striped text-center">
                <tr>
                    <th></th>
                    <th>SrNo.</th>
                    <th>Slider</th>
                    <th>Date Added</th>
                </tr>
                <%for(let i=0;i<slider.length;i++){%>
                   <tr>
                    <td><a href="/admin/delete-slider/<%-slider[i]._id%>" class="text-danger"><i class="fa fa-trash"></i></a></td>
                    <td><%-i+1%></td>
                    <td><img src="/images/<%-slider[i].image%>" style="height: 90px; width: 130px;"></td>
                    <td><%-slider[i].date%></td>
                      
                </tr>
                    <%}%>
            </table>
        </div>
    </div>
</div>
<%-include('footer.ejs')%>