<%-include('header.ejs')%>
<div class="container p-5">
    <div class="row justify-content-center p-5 align-item-center">
        <div class="col-md-12 rounded shadow p-4">
            <h3 class="text-center">Set History</h3>
            <div class="row">
            <div class="col-md-6">
                <form method="post" action="/admin/save-history/<%-data._id%>">

                
            <label class="mb-2">
            Founding :
            </label>
<textarea class="form-control mb-3" required name="founding" rows="5"><%-data.founding%></textarea>
</div>
<div class="col-md-6">
<label class="mb-2">
            Expansion :
            </label>
<textarea class="form-control mb-3" required name="expansion" rows="5"><%-data.expansion%></textarea>
</div> 
<div class="col-md-6"> 
<label class="mb-2">
            Vision  :
            </label>
<textarea class="form-control mb-3" required name="vision" rows="5"><%-data.vision%></textarea>  
</div>      
<div class="col-md-6">
<label class="mb-2">
            Mission :
            </label>
<textarea class="form-control mb-3" required name="mission" rows="5"><%-data.mission%></textarea>
</div> 
<div class="w-100 text-center">
    <button class="btn btn-primary mt-5" type="submit">Save</button>
</form>
</div>
</div>
</div>
    </div>
</div>
<%-include('footer.ejs')%>